.breederCard{
    margin-top: 20px;
    margin-left: 20px;
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
    float: left;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    background-color: rgb(253, 203, 158);
}

.breederCard:hover{
    box-shadow: 5px 5px;
}

img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border-style: solid;
    margin-left: 50px;
}

.breederCardTitle{
    color: black;
    margin-left: 115px;
}

.breederCardSubTitle{
    color: rgb(94, 92, 92);
    margin-left: 110px;
}