.breederCard{
    margin-top: 20px;
    margin-left: 20px;
    max-width: 300px;
    float: left;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    background-color: rgb(253, 203, 158);
}

.breederCard:hover{
    box-shadow: 5px 5px;
}

img{
    max-height: 400px;
}

.breederCardTitle{
    color: black;
    margin-left: 100px;
}

.breederCardSubTitle{
    color: rgb(94, 92, 92);
    margin-left: 80px;
}